<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div *ngIf="hero">
  <div class="col-8">{{hero.name}}</div>
  <div class="col-8">Abteilung: {{hero.department}}</div>
  <div><img id="img" src="{{hero.imageurl}}"></div>
  <div class="col-8">Social Media</div>
    <a href="{{hero.facebook}}" class="fa fa-facebook"></a>
    <a href="{{hero.twitter}}" class="fa fa-twitter"></a>
    <a href="{{hero.google}}" class="fa fa-google"></a>

  <div class="aboutme">Infos zu meiner Person</div>
  <div><span>Dabei Seit </span><span class="col-6">{{hero.getSince()}}</span></div>
  <div><span>Alter </span><span class="col-6" >{{hero.getAge()}}</span></div>
  <div><span>Geburtsdatum </span><span class="col-6">{{hero.birthday | date:"dd.MM.yyyy" }}</span></div>
  <div><span>Geboren in </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.birthplace" placeholder="Geburtsort eintragen..."></div>
  <div><span>Wohnort </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.residence" placeholder="Wohnort eintragen..."></div>
  <div><span>Telefon </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.phone" placeholder="Telefon..."></div>
  <div><span>Interessen/Hobbys </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.interests" placeholder="Interessen/Hobbys eintragen..."></div>
  <div><span>Motto </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.slogan" placeholder="Motto eintragen..."></div>

  <p class="col-5">3 Dinge die ich auf eine einsame Insel mitnehmen würde</p>
  <div><input (keyup.enter)="save()" class="col-7" [(ngModel)]="hero.thing1" placeholder="1"></div>
  <div><input (keyup.enter)="save()" class="col-7" [(ngModel)]="hero.thing2" placeholder="2"></div>
  <div><input (keyup.enter)="save()" class="col-7" [(ngModel)]="hero.thing3" placeholder="3"></div>

  <p class="col-5">Mein Lieblings...</p>
  <div><span>
    <form>
      <label>
<select class="favorite" name="favorite">
        <option value="book">Buch</option>
        <option value="bood">Essen</option>
        <option value="book">Trinken</option>
        <option value="book">Film</option>
      </select>
</label>
    </form>
  </span><input (keyup.enter)="save()" class="col-6" [(ngModel)]="hero.favbook" placeholder="Hier eintragen..."></div>

  <div><span>
    <form>
      <label for="favorite"></label><select id="favorite" name="favorite">
        <option value="book">Buch</option>
        <option value="bood">Essen</option>
        <option value="book">Trinken</option>
        <option value="book">Film</option>
      </select>
    </form>
  </span><input class="col-6" [(ngModel)]="hero.favfood" placeholder="Hier eintragen..."></div>

  <p class="col-5">Ich mag...</p>
  <div class="col-6"><input #box (keyup.enter)="save()" class="fav" [(ngModel)]="hero.ilike1" placeholder="1"></div>
  <div class="col-6"><input #box (keyup.enter)="save()" class="fav" [(ngModel)]="hero.ilike2" placeholder="2"></div>
  <div class="col-6"><input #box (keyup.enter)="save()" class="fav" [(ngModel)]="hero.ilike3" placeholder="3"></div>

  <p class="col-5">Ich mag nicht...</p>
  <div class="col-6"><input (keyup.enter)="save(value)"  class="fav" [(ngModel)]="hero.dontlike1" placeholder="1"></div>
  <div class="col-6"><input (keyup.enter)="save(value)"  class="fav" [(ngModel)]="hero.dontlike2" placeholder="2"></div>
  <div class="col-6"><input (keyup.enter)="save(value)"  class="fav" [(ngModel)]="hero.dontlike3" placeholder="3"></div>

  <button (click)="goBack()">Zurück</button>
  <button (click)="save()">Änderungen speichern</button>
</div>
</body>
</html>
